<launch>
	<arg name="rgbd_cam" default="xtion" />
    <arg name="manager" value="$(arg rgbd_cam)/$(arg rgbd_cam)_nodelet_manager" />

    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="camera" value="$(arg rgbd_cam)"/>
    </include>

    <param name="/$(arg rgbd_cam)/driver/image_mode" value="4"/>
    <param name="/$(arg rgbd_cam)/driver/depth_mode" value="4" />   

	<node pkg="nodelet" type="nodelet" name="convert_openni_viso" args="load depth_image_proc/convert_metric $(arg manager)" output="screen">
		<remap from="image_raw" to="$(arg rgbd_cam)/depth/image_raw"/>
		<remap from="image" to="$(arg rgbd_cam)/depth/image"/>
	</node>
    
    <node pkg="nodelet" type="nodelet" name="visual_altimeter_nodelet" args="load visual_altimeter/VisualAltimeterNodelet $(arg manager)" output="screen"/>
</launch>
